%basic-trigger {
  background-color: $c-primary;
  border-bottom: 0;
  color: $c-secondary;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
}

// accordion

.accordion {
  border: 0.08em solid $c-tertiary;
}

.accordion-trigger {
  @extend %basic-trigger;
  border-top: 0.08em solid $c-tertiary;
  &:first-child {
    border-top: 0;
  }

  &:before {
    content: "";
    @include scut-triangle($color: $c-secondary);
    margin-right: 0.5em;
    transition: transform 0.3s;
    transform: rotate(0);
  }

  &.is-active {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.accordion-body {
  background-color: $c-secondary;
  margin-left: 0;
  max-width: 100%;
}

.accordion-body-inner {
  padding: 1em;
}


// dropdown menu

.dropdown-menu {
  background-color: $c-primary;
  @extend %scut-list-unstyled;
  @media only screen and (min-width: scut-em(400)) {
    @include scut-list-floated;
  }
}

.dropdown-trigger {
  display: block;
  @extend %basic-trigger;
}

.dropdown-submenu {
  background-color: $c-tertiary;
  max-width: 100%;
  @extend %scut-list-unstyled;
  @media only screen and (min-width: scut-em(400)) {
    position: absolute;
    .is-active + & {
      z-index: 1;
    }
  }
}

.dropdown-submenu-i {
  border-bottom: 0;
  display: block;
  padding: 0.5em 1em;
  li:first-child > & {
    padding-top: 1em;
  }
  li:last-child > & {
    padding-bottom: 1em;
  }
}
