article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.dropdown-menu,
.dropdown-submenu {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

label,
select,
option,
button {
  cursor: pointer;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.highlight .hll {
  background-color: #333;
}

.highlight {
  background: #111111;
  color: #fff;
  padding: 0.2em 0.9em;
  margin-bottom: 1em;
  font: normal normal normal 115%/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  line-height: 1.1em;
  overflow: auto;
  font-size: 1.0em;
  border-radius: 5px;
}

p>code,
p>a>code {
  border-radius: 5px;
  color: inherit;
  font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  font-size: 1em;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  top: auto;
}

p>a>code {
  color: #95be7d;
}

code,
pre {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 0.9em;
  margin: 1em 0;
  overflow-x: auto;
  white-space: pre;
}

.highlight span {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size: 1em;
}

.highlight .hll {
  background-color: #49483e;
}

.highlight {
  color: #f8f8f2;
}

.highlight .c {
  color: #75715e;
}

.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

.highlight .k {
  color: #66d9ef;
}

.highlight .l {
  color: #ae81ff;
}

.highlight .n {
  color: #f8f8f2;
}

.highlight .o {
  color: #f92672;
}

.highlight .p {
  color: #f8f8f2;
}

.highlight .cm {
  color: #75715e;
}

.highlight .cp {
  color: #75715e;
}

.highlight .c1 {
  color: #75715e;
}

.highlight .cs {
  color: #75715e;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .kc {
  color: #66d9ef;
}

.highlight .kd {
  color: #66d9ef;
}

.highlight .kn {
  color: #f92672;
}

.highlight .kp {
  color: #66d9ef;
}

.highlight .kr {
  color: #66d9ef;
}

.highlight .kt {
  color: #66d9ef;
}

.highlight .ld {
  color: #e6db74;
}

.highlight .m {
  color: #ae81ff;
}

.highlight .s {
  color: #e6db74;
}

.highlight .na {
  color: #a6e22e;
}

.highlight .nb {
  color: #f8f8f2;
}

.highlight .nc {
  color: #a6e22e;
}

.highlight .no {
  color: #66d9ef;
}

.highlight .nd {
  color: #a6e22e;
}

.highlight .ni {
  color: #f8f8f2;
}

.highlight .ne {
  color: #a6e22e;
}

.highlight .nf {
  color: #a6e22e;
}

.highlight .nl {
  color: #f8f8f2;
}

.highlight .nn {
  color: #f8f8f2;
}

.highlight .nx {
  color: #a6e22e;
}

.highlight .py {
  color: #f8f8f2;
}

.highlight .nt {
  color: #f92672;
}

.highlight .nv {
  color: #f8f8f2;
}

.highlight .ow {
  color: #f92672;
}

.highlight .w {
  color: #f8f8f2;
}

.highlight .mf {
  color: #ae81ff;
}

.highlight .mh {
  color: #ae81ff;
}

.highlight .mi {
  color: #ae81ff;
}

.highlight .mo {
  color: #ae81ff;
}

.highlight .sb {
  color: #e6db74;
}

.highlight .sc {
  color: #e6db74;
}

.highlight .sd {
  color: #e6db74;
}

.highlight .s2 {
  color: #e6db74;
}

.highlight .se {
  color: #ae81ff;
}

.highlight .sh {
  color: #e6db74;
}

.highlight .si {
  color: #e6db74;
}

.highlight .sx {
  color: #e6db74;
}

.highlight .sr {
  color: #e6db74;
}

.highlight .s1 {
  color: #e6db74;
}

.highlight .ss {
  color: #e6db74;
}

.highlight .bp {
  color: #f8f8f2;
}

.highlight .vc {
  color: #f8f8f2;
}

.highlight .vg {
  color: #f8f8f2;
}

.highlight .vi {
  color: #f8f8f2;
}

.highlight .il {
  color: #ae81ff;
}

body {
  background-color: #f3f3f3;
  color: #242424;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 0 1em 10em;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

button,
.btn {
  background-color: #242424;
  color: #f3f3f3;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0;
  font-weight: 800;
  padding: 0.75em 1em;
  margin-right: 1em;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  color: #f3f3f3;
}

button[disabled],
.btn[disabled] {
  background-color: #cfcfcf;
}

h1,
h2 {
  padding-bottom: 0.3em;
  border-bottom: 0.2em solid;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 2em;
}

p {
  line-height: 1.5;
}

a {
  color: inherit;
  font-weight: 800;
}

blockquote {
  margin-left: 0;
  font-style: italic;
}

.feature {
  font-size: 1.3em;
}

.hidden {
  background-color: #cfcfcf;
  height: 0;
  overflow: hidden;
}

.hidden-width {
  background-color: #cfcfcf;
  width: 0;
  overflow: hidden;
  margin-bottom: 1em;
}

.width-hidden-inner {
  height: 3em;
  line-height: 3em;
  width: 20em;
}

.highlight {
  margin: 0;
}

.hidden-code {
  margin-top: 1em;
  height: 0;
  overflow: hidden;
}

.hidden-inner {
  padding: 2em;
}

.well {
  background: #cfcfcf;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.accordion-trigger,
.dropdown-trigger {
  background-color: #242424;
  border-bottom: 0;
  color: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
}

.accordion {
  border: 0.08em solid #cfcfcf;
}

.accordion-trigger {
  border-top: 0.08em solid #cfcfcf;
}

.accordion-trigger:first-child {
  border-top: 0;
}

.accordion-trigger:before {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  -webkit-transform: rotate(360deg);
  border-width: 0.375em 0.75em;
  border-style: solid;
  border-color: transparent;
  border-left-color: #f3f3f3;
  border-right-width: 0;
  margin-right: 0.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.accordion-trigger.is-active:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-body {
  background-color: #f3f3f3;
  margin-left: 0;
  max-width: 100%;
}

.accordion-body-inner {
  padding: 1em;
}

.dropdown-menu {
  background-color: #242424;
}

@media only screen and (min-width: 25em) {
  .dropdown-menu {
    list-style-type: none;
    padding-left: 0;
  }

  .dropdown-menu:after {
    content: "";
    display: table;
    clear: both;
  }

  .dropdown-menu>li {
    float: left;
  }

  .dropdown-menu>li {
    position: relative;
  }
}

.dropdown-trigger {
  display: block;
}

.dropdown-submenu {
  background-color: #9c9c9c;
}

@media only screen and (min-width: 25em) {
  .dropdown-submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10em;
  }

  .is-active+.dropdown-submenu {
    z-index: 1;
  }
}

.dropdown-submenu-i {
  color: #242424;
  border-bottom: 0;
  display: block;
  padding: 0.5em 1em;
}

li:first-child>.dropdown-submenu-i {
  padding-top: 1em;
}

li:last-child>.dropdown-submenu-i {
  padding-bottom: 1em;
}