<h3>The Accordion</h3>

<dl class="accordion">
  <dt class="accordion-trigger" tabindex="0">Megrim</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <p><i>n.</i> A form of headache usually confined to or beginning or predominating on one side of the head.</p>
      <p><i>n.</i> (plural) Lowness of spirits, as from headache or general physical disturbance; the 'blues'; a morbid or whimsical state of feeling.</p>
    </div>
  </dd>
  <dt class="accordion-trigger" tabindex="0">Giffgaff</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <i>n.</i> Mutual or reciprocal giving and taking; mutual obligation; tit for tat.
    </div>
  </dd>
  <dt class="accordion-trigger" tabindex="0">Chawbacon</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <p><i>n.</i> A person who is not very intelligent or interested in culture.</p>
      <blockquote>
        I contend for it that all our civilisation is higher, and that class for class we are in a more advanced culture than the English; that your chawbacon is not as intelligent a being as our bogtrotter; that your petty shopkeeper is inferior to ours; that throughout our middle classes there is not only a higher morality but a higher refinement than with you.
      </blockquote>
      <p>&mdash; Charles Lever, Lord Kilgobbin</p>
    </div>
  </dd>
</dl>

<button id="open-code-accordion" class="open-code" data-code="accordion">Show the JS</button>
<button id="close-code-accordion" class="close-code" data-code="accordion" disabled>Hide the JS</button>

<div id="code-accordion" class="hidden-code">
{% highlight js linenos %}
{% include accordion.js %}
{% endhighlight %}
</div>