<h3>The Dropdown Menu</h3>

<p>Demonstrating the following:</p>
<ul>
  <li>a custom CSS transition</li>
  <li>a custom <code>openClass</code></li>
  <li>how the plugin integrates into slightly more complicated JavaScript/jQuery activities</li>
</ul>
<p>Reduce your viewport size to see how the menu responds: the smoothly-animating dropdown becomes a smoothly-animating accordion.</p>

<ul class="dropdown-menu">
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">About</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our dogs</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our science</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our behavior</a></li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Because</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Because it hurts</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Because we like it</a></li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Now</a>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Directions</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Forwards</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Backwards</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Sideways</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Bothways</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Noways</a></li>
    </ul>
  </li>
</ul>

<button id="open-code-dd" class="open-code" data-code="dd">Show the JS</button>
<button id="close-code-dd" class="close-code" data-code="dd" disabled>Hide the JS</button>

<div id="code-dd" class="hidden-code">
{% highlight js linenos %}
{% include dropdown.js %}
{% endhighlight %}
</div>