<p class="feature">A jQuery plugin that uses CSS transitions to animate an element's height or width to <code>auto</code>.</p>
<p class="btn-p">
  <button id="btn-1">Try it</button>
  <button id="btn-download">Download it</button>
  <a href="{{ page.github-url }}" class="btn">Github Repo</a>
</p>
<div id="hidden-1" class="hidden">
  <div class="hidden-inner">Here is some text that was previously hidden. I'm sure you noticed the smooth CSS transition. You're the kind of person who would.</div>
</div>
<div id="hidden-download" class="hidden">
  <div class="hidden-inner">
    <a href="/jquery.cssAnimateAuto.js" download class="btn">Full</a>
    <a href="/jquery.cssAnimateAuto.min.js" download class="btn">Minified</a>
  </div>
</div>