<p class="feature">A jQuery plugin that uses CSS transitions to animate an element's height or width to <code>auto</code>.</p>
<p><a href="{{ page.github-url }}" class="btn">Go to the Github Repo</a></p>
<p><button id="btn-download">Download the Code</button></p>
<div id="hidden-download" class="hidden">
  <div class="hidden-inner">
    <a href="/jquery.cssAnimateAuto.js" download class="btn">Full</a>
    <a href="/jquery.cssAnimateAuto.min.js" download class="btn">Minified</a>
  </div>
</div>
<div class="well">
  The plugin's arguments are explained <a href="{{ page.github-url }}">in the README on Github</a>, and a number of code examples are provided there.
</div>
