<h2>Use-Cases and Examples</h2>

<h3>The Accordion</h3>

<dl class="accordion">
  <dt class="accordion-trigger" tabindex="0">Megrim</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <p><i>n.</i> A form of headache usually confined to or beginning or predominating on one side of the head.</p>
      <p><i>n.</i> (plural) Lowness of spirits, as from headache or general physical disturbance; the 'blues'; a morbid or whimsical state of feeling.</p>
    </div>
  </dd>
  <dt class="accordion-trigger" tabindex="0">Giffgaff</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <i>n.</i> Mutual or reciprocal giving and taking; mutual obligation; tit for tat.
    </div>
  </dd>
  <dt class="accordion-trigger" tabindex="0">Chawbacon</dt>
  <dd class="accordion-body hidden">
    <div class="accordion-body-inner">
      <p><i>n.</i> A person who is not very intelligent or interested in culture.</p>
      <blockquote>
        I contend for it that all our civilisation is higher, and that class for class we are in a more advanced culture than the English; that your chawbacon is not as intelligent a being as our bogtrotter; that your petty shopkeeper is inferior to ours; that throughout our middle classes there is not only a higher morality but a higher refinement than with you.
        Charles Lever, Lord Kilgobbin
      </blockquote>
    </div>
  </dd>
</dl>

<button id="open-code-accordion" class="open-code" data-code="accordion">Show the JS</button>
<button id="close-code-accordion" class="close-code" data-code="accordion" disabled>Hide the JS</button>

<div id="code-accordion" class="hidden-code">
{% highlight js linenos %}
{% include accordion.js %}
{% endhighlight %}
</div>

<h3>The Dropdown Menu</h3>

<p>Demonstrating the following:</p>
<ul>
  <li>a custom CSS transition</li>
  <li>a custom <code>openClass</code></li>
  <li>how the plugin integrates into slightly more complicated JavaScript/jQuery activities</li>
</ul>
<p>Reduce your viewport size to see how the menu responds: the smoothly-animating dropdown becomes a smoothly-animating accordion.</p>

<ul class="dropdown-menu">
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">About</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our dogs</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our science</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Our behavior</a></li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Because</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Because it hurts</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Because we like it</a></li>
    </ul>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Now</a>
  </li>
  <li>
    <a href="javascript:void(0);" class="dropdown-trigger">Directions</a>
    <ul class="dropdown-submenu hidden">
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Forwards</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Backwards</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Sideways</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Bothways</a></li>
      <li><a href="javascript:void(0);" class="dropdown-submenu-i">Noways</a></li>
    </ul>
  </li>
</ul>

<button id="open-code-dd" class="open-code" data-code="dd">Show the JS</button>
<button id="close-code-dd" class="close-code" data-code="dd" disabled>Hide the JS</button>

<div id="code-dd" class="hidden-code">
{% highlight js linenos %}
{% include dropdown.js %}
{% endhighlight %}
</div>

<h3>These See/Hide the JS Buttons</h3>

<p>How do they work? Have a look. They use a callback to disable the button once the transition/animation is complete.</p>

<p>
  <button id="open-code-showhide" class="open-code" data-code="showhide">Show the JS</button>
  <button id="close-code-showhide" class="close-code" data-code="showhide" disabled>Hide the JS</button>
</p>

<div id="code-showhide" class="hidden-code">
{% highlight js linenos %}
{% include show-hide-code.js %}
{% endhighlight %}
</div>