<h2>Why you need this</h2>

<p>You like making things slide open and closed, but neither CSS nor jQuery allow you to slide dimensions to <code>auto</code>, and very often that's exactly what you need to do.</p>

<p>You have tried various workarounds (e.g. CSS-transitioning <code>max-height</code> instead of <code>height</code>) but have been annoyed by their limitations and weaknesses.</p>

<p>Perhaps you have already found a JavaScript snippet for solving this problem, but the snippet eventually disappointed you, in one way or another, and you once again cursed under your breath.</p>

<p>I have done these things. I have cursed under my breath. And I have thought to myself:</p>

<p class="feature"><em>Let's stop messing around and develop an open-source jQuery plugin that solves, thoroughly, this silly problem.</em></p>

<p>That is what this simple plugin aspires to be. <em>That</em> is <em>this</em>.</p>

<p class="well">If, however, this plugin has not solved the problem for you, if you are still dissatisfied, still resorting to workarounds, <a href="{{ page.github-url }}">please contribute and make the plugin better!</a></p>